table {
      width: 100%;
      height: 100%;
      border-collapse: collapse;
      text-align: center;
    }

    th, td {
      border: 1px solid black;
      /* padding: 8px; */
      text-align: center;
    }

    .special-cell {
      background-color: black;
      color: white;
    }

    /* Set the width of nested tables to 100% */
    .nested-table {
      /* width: 100%; */
    }